The "Bearer" OAuth Access used lower-case bearer, while RFC 6750 require it to be case sensitive

**Describe the bug**

See: https://github.com/opencost/opencost/blob/v1.117.6/core/pkg/nodestats/request.go#L59

https://github.com/opencost/opencost/blob/faff1c39d11ac28ea8dd6dbdfd7606172cf9f933/core/pkg/nodestats/request.go#L58-L60

See: https://datatracker.ietf.org/doc/html/rfc6750#section-1.1

>  Unless otherwise noted, all the protocol parameter names and value are case sensitive.

There might be some arguments that it could be case in-sensitive. However: 
1. all the examples in RFC are using `Bearer`.
2. there's nothing bad to use `Bearer` instead of `bearer`.
    - servers that support case in-sensitive token will work.
    - servers that support case sensitive token will only work when using `Bearer`. 

**To Reproduce**
N/A

**Expected behavior**
Described in description.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Which version of OpenCost are you using?**
Latest commit / v1.117.6

**Additional context**

Extra description was added in the [latest **draft** RFC](https://author-tools.ietf.org/iddiff?url1=draft-ietf-oauth-v2-1-10&url2=draft-ietf-oauth-v2-1-13&difftype=--hwdiff):
```
   As described in Section 11.1 of [RFC9110], the string bearer is case-
   insensitive.  This means all of the following are valid uses of the
   Authorization header:

   *  Authorization: Bearer mF_9.B5f-4.1JqM

   *  Authorization: bearer mF_9.B5f-4.1JqM

   *  Authorization: BEARER mF_9.B5f-4.1JqM

   *  Authorization: bEaReR mF_9.B5f-4.1JqM
```

It would be great if server side could have such support. However, for client side implementation, **nothing bad** if it follows the definition: https://datatracker.ietf.org/doc/html/rfc6750#section-2.1

```
   The syntax for Bearer credentials is as follows:

     b64token    = 1*( ALPHA / DIGIT /
                       "-" / "." / "_" / "~" / "+" / "/" ) *"="
     credentials = "Bearer" 1*SP b64token
```

Can confirm am impacted by this.



/assign